* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  display: flex;
  flex-direction: column;
  min-width: 100vw;
  min-height: 100vh;
  background-color: #fefed4;
}
.form-parent {
  flex: 1;
  padding: 5vmin 10vmin;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* background-color: aliceblue; */
  /* color: rgb(198, 232, 255); */
}
.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 70vw;
  padding: 2vmin;
  border-radius: 10px;
  background-color: #fefed4;
  gap: 2vmin;
}
.err {
  color: red;
  font-size: 1.5vmin;
  margin-top: 0.5qvmin;
}
/* NavBar */
.nav-box {
  position: sticky;
  top: 0;
  width: 100vw;
  height: 8vh;
  /* bord er: red 3px solid; */
}
.nav-div {
  /* remove this line */
  text-align: center;
}

/* Complaint */
.tag-heading {
  font-size: 2.5vmax;
  font-weight: 700;
}
.tag-subHeading {
  font-size: 1.2vmax;
}
.tag-line {
  display: flex;
  justify-content: center;
  align-items: center;
}
.complaint-box {
  line-height: 3vmax;
  display: flex;
  flex-direction: column;

  gap: 2vmax;
}
.complaint-parent {
  flex: 1;
  padding: 0.5vmax;
  display: flex;
  flex-direction: column;
  gap: 3vmax;
}
.next-button {
  display: flex;
  justify-content: flex-end;
}
.button-div {
  display: flex;
  flex-wrap: wrap;
  gap: 2vmax;
}
.progress-div {
  display: flex;
  justify-content: center;
  align-items: center;
}
.progress-bar {
  /* border: 2px blue solid; */
  background-color: aliceblue;
  height: 2vh;
  width: 80vw;
}
.progress {
  height: 100%;
  background-color: rgba(7, 99, 7, 0.63);
}
.form-parent {
  flex: 1;
  padding: 5vmin 10vmin;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* background-color: aliceblue; */
  /* color: rgb(198, 232, 255); */
}
.buttons {
  display: flex;
  gap: 1vmax;
}
.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 47vw;
  padding: 2vmin;
  border-radius: 10px;
  border: 3px green solid;
  background-color: #fefed4;
  gap: 2vmin;
}
.err {
  color: red;
  font-size: 1.5vmin;
  margin-top: 0.5vmin;
}

/* Educational */

.edu-parent {
  flex: 1;
  padding: 4vmax;
}
.edu-div {
  border: 2px red solid;
}
.content {
  display: flex;
  padding: 1.5vmax;
}
.nav-buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1vmax;
}
/* Home */

.home-parent {
  flex: 1;
  padding: 4.5vmax;
  display: flex;
  color: green;
  justify-content: space-between;
}
.right-img {
  width: 50vmax;
}
.right-img-div {
  display: flex;
  justify-content: center;
  align-items: center;
}
.moto-div {
  padding: 1vmax;
  display: flex;
  flex-direction: column;
  gap: 1.5vmax;
  padding-top: 5vmax;
}
.moto {
  font-size: 4.5vmax;
  font-weight: 600;
}
.sub-moto {
  font-size: 1.4vmax;
  font-weight: 500;
  /* max-width: 25vmax; */
  color: rgb(77, 125, 5);
}
a {
  color: rgb(153, 255, 0);
  cursor: pointer;
}

/* Media query */
@media (max-width: 600px) {
  .home-parent {
    flex-direction: column-reverse;
    justify-content: space-evenly;
  }
  .moto-div {
    align-items: center;
  }
  .moto {
    font-size: 4.3vmax;
    text-align: center;
  }
}
