@import url("https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  display: flex;
  flex-direction: column;
  min-width: 100vw;
  min-height: 100vh;
  font-family: Urbanist;
  background-color: #fefed4;
}

.form-parent {
  flex: 1;
  padding: 5vmin 10vmin;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* background-color: aliceblue; */
  /* color: rgb(198, 232, 255); */
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 70vw;
  padding: 2vmin;
  border-radius: 10px;
  background-color: #fefed4;
  gap: 2vmin;
}

.err {
  color: red;
  font-size: 1.5vmin;
  margin-top: 0.5qvmin;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* NavBar -------------------*/

.nav-parent {
  font-family: Urbanist;
  display: flex;
  justify-content: center;
  margin-top: 3vh;
  position: relative;
  position: sticky;
  top: 3vh;
}

#img-logo {
  width: 6vmax;
}

nav {
  justify-content: center;
  border-bottom: 1px solid;
  box-shadow: 0px 2px 5px black;
  width: 65vw;
  font-weight: 600;
  background-color: rgb(0, 162, 0);
  border-radius: 20px;
}

.nav-div {
  justify-content: space-evenly;
  align-items: center;
  width: 60vw;
}

.nav-parent-2 {
  margin: 1.5vh 0vw 1.5vh 1.5vw;
  display: flex;
  align-content: center;
  justify-content: space-between;
  width: 100vw;
}

a6[data-active] {
  background: green;
  /* Change to the desired shade of green */
}

.nav-div-2 {
  width: 70vw;
}

.nav-options {
  padding-right: 2vw;
  gap: 1vh;
}

/* Complaint */
.tag-heading {
  font-size: 2.5vmax;
  font-weight: 700;
}

.tag-subHeading {
  font-size: 1.2vmax;
}

.tag-line {
  display: flex;
  justify-content: center;
  align-items: center;
}

.complaint-box {
  line-height: 3vmax;
  display: flex;
  flex-direction: column;

  gap: 2vmax;
}

.complaint-parent {
  flex: 1;
  padding: 0.5vmax;
  display: flex;
  flex-direction: column;
  gap: 3vmax;
}

.next-button {
  display: flex;
  justify-content: flex-end;
}

.button-div {
  display: flex;
  flex-wrap: wrap;
  gap: 2vmax;
}

.progress-div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.progress-bar {
  /* border: 2px blue solid; */
  background-color: aliceblue;
  height: 2vh;
  width: 80vw;
}

.progress {
  height: 100%;
  background-color: rgba(7, 99, 7, 0.63);
}

.form-parent {
  flex: 1;
  padding: 5vmin 10vmin;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* background-color: aliceblue; */
  /* color: rgb(198, 232, 255); */
}

.buttons {
  display: flex;
  gap: 1vmax;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 47vw;
  padding: 2vmin;
  border-radius: 10px;
  border: 3px green solid;
  background-color: #fefed4;
  gap: 2vmin;
}

.err {
  color: red;
  font-size: 1.5vmin;
  margin-top: 0.5vmin;
}

/* Educational */

.edu-parent {
  flex: 1;
  display: flex;
  justify-content: center;
  /* Center the child horizontally */
  align-items: center;
  /* Center the child vertically */
  padding: 4vmax;
  font-weight: 500;
}

.edu-div {
  width: 70vw;
  flex-direction: column;
}

.edu-text {
  font-size: 1.5vmax;
  margin-right: 2vw;
}

.content {
  display: flex;
  padding: 1.5vmax;
}

#edu-img {
  width: 100vw;
  height: 40vh;
  border-radius: 2vw;
}

.nav-buttons {
  display: flex;
  justify-content: space-evenly;
  width: 50%;
  align-items: center;
  padding: 1vmax;
}

#arrow {
  cursor: pointer;
}



/* Home */

.home-parent {
  flex: 1;
  padding: 4.5vmax;
  display: flex;
  color: green;
  justify-content: space-between;
}

.right-img {
  width: 50vmax;
}

.right-img-div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.moto-div {
  padding: 1vmax;
  display: flex;
  flex-direction: column;
  gap: 1.5vmax;
  padding-top: 5vmax;
}

.moto {
  font-size: 4.5vmax;
  font-weight: 600;
}

.sub-moto {
  font-size: 1.4vmax;
  font-weight: 500;
  /* max-width: 25vmax; */
  color: rgb(77, 125, 5);
}

a {
  color: rgb(153, 255, 0);
  cursor: pointer;
}

/* Media query */
@media (max-width: 600px) {
  .home-parent {
    flex-direction: column-reverse;
    justify-content: space-evenly;
  }

  .moto-div {
    align-items: center;
  }

  .moto {
    font-size: 4.3vmax;
    text-align: center;
  }
    .content {
  flex-direction: column;
  text-align: center;
  gap: 1vh;
  }
}

@media only screen and (max-width: 800px) {
  nav {
    width: 90vw;
  }

  #img-logo {
    width: 8vmax;
  }
}